Repository sillysecurityawards/awards-site, pull requests merged in 2023-05, with the labels that each got.

#39 Added Kloudle
  logos/kloudle-logo.png
  pledge.html
Labels: pending author, pledge

#42 Add github link to the awards modal
  awards.html
  styles.css
Labels: enhancement, website

#47 Added Logo
  logos/vektren.svg
Labels: missing details, pending author, pledge

#48 Adding PentesterLab
  logos/pentesterlab.png
  pledge.html
Labels: pending author, pledge

#53 Interlynk pledges to avoid silly security awards
  logos/interlynk.svg
  pledge.html
Labels: pledge
